@font-face {
    font-family: OpenSans-Regular;
    src: url('../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: OpenSans-Semibold;
    src: url('../fonts/OpenSans/OpenSans-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: OpenSans-Bold;
    src: url('../fonts/OpenSans/OpenSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: OpenSans-ExtraBold;
    src: url('../fonts/OpenSans/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

html,
body {
    height: 100%;
}

.container-page {
    max-width: 1577px;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-wrp {
    width: 100%;
    padding: 29px 20px 111px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #F6F2F2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.header__nav-wrp {
    max-width: 1249px;
    min-height: 89px;
    width: 100%;
    background-color: #000000;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin: 0 0 103px 0;
}

.header__nav-small-menu-input {
    display: none;
}

.header__nav-items-wrp {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
}

.header__nav-item {
    list-style: none;
    padding: 44px 23px 33px;
    box-sizing: border-box;
}

.header__nav-item:hover {
    background-color: #f31819;
}

.header__nav-item:active {
    background-color: #ff3f40;
}

.header__nav-item a {
    font-family: OpenSans-Bold;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.035em;
    color: #e0e0e0;
    text-decoration: none;
}

.header__content-wrp {
    max-width: 1249px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header__content_info-wrp {
    max-width: 558px;
    margin: 0 10px 0;
}

.header__content_info-title {
    font-family: OpenSans-ExtraBold;
    font-size: 60px;
    line-height: 72px;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #000000;
    margin: 0 0 15px 0;
    word-break: break-word;
}

.header__content_info-text {
    max-width: 512px;
    opacity: 0.7;
    font-family: OpenSans-Regular;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
    margin: 0 0 46px 0;
    word-break: break-word;
}

.header__content_info-btn {
    width: 227px;
    display: block;
    font-family: OpenSans-Bold;
    font-size: 18px;
    letter-spacing: 0.025em;
    color: #ffffff;
    padding: 15px;
    box-sizing: border-box;
    background-color: #ff2d2d;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #ff2d2d;
}

.header__content_info-btn:hover {
    background-color: #ffffff;
    color: #ff2d2d;
}

.header__content_info-btn:active {
    background-color: #ff2d2d;
    color: #ffffff;
}

.header__content_img-wrp {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/header_video_img_plug.jpg");
    background-position: center;
    width: 551px;
    height: 356px;
    text-decoration: none;
    position: relative;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.header__content_img-play-btn {
    transition: 0.3s;
}

.header__content_img-play-btn:hover {
    transform: scale(1.2);
}

.header__content_img-play-btn:active {
    transform: none;
}

.provide-wrp {
    width: 100%;
    padding: 104px 20px 108px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.provide-box {
    max-width: 1249px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.provide__info-wrp {
    max-width: 509px;
    width: 100%;
    margin: 0 10px 0 0;
}

.provide__info-title {
    opacity: 0.8;
    font-family: OpenSans-Bold;
    font-size: 42px;
    line-height: 55px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    color: #000000;
    margin: 0 0 50px 0;
}

.provide__info-text {
    font-family: OpenSans-Regular;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #000000;
    margin: 0 0 58px 0;
}

.provide__info-btn {
    display: block;
    width: 227px;
    padding: 15px;
    box-sizing: border-box;
    border: 2px solid #ff0000;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-family: OpenSans-Bold;
    font-size: 18.2px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ff2d2d;
}

.provide__info-btn:hover {
    background-color: #ff0000;
    color: #ffffff;
}

.provide__info-btn:active {
    background-color: #ffffff;
    color: #ff2d2d;
}

.provide__tools-wrp {
    max-width: 630px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.provide__tools_info-wrp {
    max-width: 290px;
    width: 100%;
    margin: 0 0 50px;
}

.provide__tools_info-icon {
    fill:#ff3b4a;
    margin: 0 0 15px 0;
}

.provide__tools_info-title {
    opacity: 0.7;
    font-family: OpenSans-Semibold;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: 0.01em;
    color: #000000;
    margin: 0 0 17px 0;
}

.provide__tools_info-text {
    opacity: 0.7;
    font-family: OpenSans;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #000000;
    margin: 0;
}

/*TODO: 1120px*/
@media screen and (max-width: 1170px) {
    .header__content_info-wrp {
        width: 50%;
    }

    .header__content_info-title {
        font-size: 4.5vw;
        line-height: 1.2em;
    }

    .header__content_info-text {
        margin: 0 0 15px 0;
    }

    .header__content_info-btn {
        width: 19.5vw;
        padding: 1.5vw;
    }

    .header__content_img-wrp {
        width: 50vw;
        height: auto;
    }

    .provide__tools-wrp {
        justify-content: center;
    }

    .provide__info-title {
        font-size: 4.5vw;
        line-height: 1.2em;
        margin: 0 0 15px 0;
    }

    .provide__info-text {
        margin: 0 0 15px 0;
    }


    .provide__info-btn {
        width: 19.5vw;
        padding: 1.5vw;
    }

    .provide__tools_info-wrp {
        max-width: 400px;
        margin: 0 auto 50px;
    }
}


/*TODO: 700px*/
@media screen and (max-width: 700px) {
    .header-wrp {
        padding: 29px 20px 40px;
    }

    .header__nav-wrp {
        margin: 0 0 40px 0;
    }

    .header__content-wrp {
        flex-wrap: wrap;
        justify-content: center;
    }

    .header__content_info-wrp {
        max-width: 558px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 40px 0;
    }

    .header__content_info-title {
        font-size: 4.5vw;
        text-align: center;
    }

    .header__content_info-text {
        font-size: 3vw;
        line-height: 1.6em;
        margin: 0 0 15px 0;
        text-align: center;
    }

    .header__content_img-wrp {
        width: 100%;
        height: 32vh;
    }

    .provide-wrp {
        padding: 40px 20px 40px;
    }

    .provide-box {
        justify-content: center;
        flex-wrap: wrap;
    }

    .provide__info-wrp {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 40px 0;
    }

    .provide__info-title {
        font-size: 4.5vw;
        text-align: center;
    }

    .provide__info-text {
        font-size: 3vw;
        line-height: 1.6em;
        margin: 0 0 15px 0;
        text-align: center;
    }
}

/*TODO: 568px*/
@media screen and (max-width: 568px) {
    .header__nav-wrp {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 20px;
        box-sizing: border-box;
    }

    .header__nav-small-menu-input {
        display: block;
        position: relative;
        width: 40px;
        height: 50px;
        cursor: pointer;
        z-index: 2;
        opacity: 0;
    }

    .header__nav-small-menu-line {
        display: block;
        width: 40px;
        height: 4px;
        z-index: 1;
        border-radius: 4px;
        position: absolute;
        background: #fff;
        margin-bottom: 7px;
    }

    .header__nav-small-menu-line:nth-of-type(1) {
        top: 60px;
        transform-origin: 0 0;
        transition: width, 0.5s;
    }

    .header__nav-small-menu-line:nth-of-type(2) {
        top: 70px;
        transform-origin: 0 100%;
        transition: width, 0.5s;
    }

    .header__nav-small-menu-line:nth-of-type(3) {
        top: 80px;
        transform-origin: 0 0;
        transition: width, 0.5s;
    }

    .header__nav-small-menu-input:checked ~ .header__nav-small-menu-line {
        transform: rotate(45deg) translate(6px, -8px);
        width: 41px;
        transition: width, 0.5s;
    }

    .header__nav-small-menu-input:checked ~ .header__nav-small-menu-line:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    .header__nav-small-menu-input:checked ~ .header__nav-small-menu-line:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, 10px);
        width: 41px;
    }

    .header__nav-items-wrp {
        height: 0;
        visibility: hidden;
        margin: 0 auto;
        width: 69vw;
        flex-direction: column;
        padding: 0;
    }

    .header__content_info-btn {
        width: 38vw;
        font-size: 3vw;
    }

    .header__nav-item {
        width: 100%;
        padding: 33px 23px;
    }

    .header__nav-small-menu-input:checked ~ .header__nav-items-wrp {
        height: auto;
        visibility: visible;
    }

    .header__content_info-btn {
        padding: 10px;
    }
}
