@font-face {
    font-family: OpenSans-Regular;
    src: url('../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: OpenSans-Semibold;
    src: url('../fonts/OpenSans/OpenSans-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: OpenSans-Bold;
    src: url('../fonts/OpenSans/OpenSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: OpenSans-ExtraBold;
    src: url('../fonts/OpenSans/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

div.container {
    max-width: 1577px;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header.header-wrp {
    width: 100%;
    padding: 29px 20px 111px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #F6F2F2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

nav.header-nav-wrp {
    max-width: 1249px;
    min-height: 89px;
    width: 100%;
    background-color: #000000;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin: 0 0 103px 0;
}

/*label.small-menu,*/
input.input-small-menu {
    display: none;
}

ul.nav-wrp {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

li.nav-item-link {
    list-style: none;
    padding: 44px 23px 33px;
    box-sizing: border-box;
}

li.nav-item-link:hover {
    background-color: #f31819;
}

li.nav-item-link:active {
    background-color: #ff3f40;
}

li.nav-item-link a {
    font-family: OpenSans-Bold;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.035em;
    color: #e0e0e0;
    text-decoration: none;
}

div.header-info-wrp {
    max-width: 1249px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

div.header-info {
    max-width: 558px;
}

h1.header-info-title {
    font-family: OpenSans-ExtraBold;
    font-size: 60px;
    line-height: 72px;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #000000;
    margin: 0 0 15px 0;
    word-break: break-word;
}

p.header-info-text {
    max-width: 512px;
    opacity: 0.7;
    font-family: OpenSans-Regular;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
    margin: 0 0 46px 0;
    word-break: break-word;
}

a.header-info-btn {
    width: 227px;
    display: block;
    font-family: OpenSans-Bold;
    font-size: 18px;
    letter-spacing: 0.025em;
    color: #ffffff;
    padding: 15px;
    box-sizing: border-box;
    background-color: #ff2d2d;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #ff2d2d;
}

a.header-info-btn:hover {
    background-color: #ffffff;
    color: #ff2d2d;
}

a.header-info-btn:active {
    background-color: #ff2d2d;
    color: #ffffff;
}

div.header-img-wrp {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/header_video_img_plug.jpg");
    background-position: center;
    width: 551px;
    height: 356px;
    text-decoration: none;
    position: relative;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

img.header-img-play-btn {
    transition: 0.3s;
}

img.header-img-play-btn:hover {
    transform: scale(1.2);
}

img.header-img-play-btn:active {
    transform: none;
}


/*TODO: 1120px*/
@media screen and (max-width: 1120px) {
    div.header-info {
        width: 50vw;
    }

    h1.header-info-title {
        font-size: 5vw;
        line-height: 1.2em;
    }

    p.header-info-text {
        width: 45vw;
        font-size: 1.5vw;
        line-height: 1.6em;
        margin: 0 0 18px 0;
    }

    div.header-img-wrp {
        width: 50vw;
        height: auto;
    }
}


/*TODO: 700px*/
@media screen and (max-width: 700px) {
    nav.header-nav-wrp {
        margin: 0 0 40px 0;
    }

    div.header-info-wrp {
        flex-wrap: wrap;
        justify-content: center;
    }

    div.header-info {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1.header-info-title {
        font-size: 7vw;
        text-align: center;
    }

    p.header-info-text {
        width: 89vw;
        font-size: 3vw;
        line-height: 1.6em;
        margin: 0 0 18px 0;
        text-align: center;
    }

    a.header-info-btn {
        margin: 0 0 40px 0;
    }

    div.header-img-wrp {
        width: 100vw;
        height: 32vh;
    }
}

/*TODO: 568px*/
@media screen and (max-width: 568px) {
    nav.header-nav-wrp {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 20px;
        box-sizing: border-box;
    }

    input.input-small-menu {
        display: block;
        position: relative;
        width: 40px;
        height: 50px;
        cursor: pointer;
        z-index: 2;
        opacity: 0;
    }

    span.small-menu-line {
        display: block;
        width: 40px;
        height: 4px;
        z-index: 1;
        border-radius: 4px;
        position: absolute;
        background: #fff;
        margin-bottom: 7px;
    }

    span.small-menu-line:nth-of-type(1) {
        top: 50px;
        transform-origin: 0 0;
        transition: width, 0.5s;
    }

    span.small-menu-line:nth-of-type(2) {
        top: 60px;
        transform-origin: 0 100%;
        transition: width, 0.5s;
    }

    span.small-menu-line:nth-of-type(3) {
        top: 70px;
        transform-origin: 0 0;
        transition: width, 0.5s;
    }

    input.input-small-menu:checked ~ span.small-menu-line {
        transform: rotate(45deg) translate(6px, -8px);
        width: 41px;
        transition: width, 0.5s;
    }

    input.input-small-menu:checked ~ span.small-menu-line:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    input.input-small-menu:checked ~ span.small-menu-line:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, 10px);
        width: 41px;
    }

    ul.nav-wrp {
        height: 0;
        visibility: hidden;
        margin: 0 auto;
        width: 100%;
        flex-direction: column;
    }

    a.header-info-btn {
        width: 38vw;
        font-size: 3vw;
    }

    li.nav-item-link {
        width: 100%;
        padding: 33px 23px;
    }

    input.input-small-menu:checked ~ ul.nav-wrp {
        height: auto;
        visibility: visible;
    }
}
